@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3); /* show clear focus ring */
}
